<div class="container">
    <div class="header">
        <h1>About Me</h1><br>
        <p>I'm a 26-year-old Honda automotive master technician with a lifelong passion for technology. I've been tinkering with computers since the age of 4, and that early fascination has evolved into a diverse skill set. In addition to my automotive expertise, I take pride in being a co-founder of <a href="https://github.com/Armchair-Heavy-Industries/">Armchair Heavy Industries (formerly known as Armchair Engineering)</a>, a vibrant 3D printer community. Here, I actively contribute to building a group that pushes the boundaries of creativity and innovation. <br><br>
            Recognizing the importance of staying ahead in the ever-evolving tech landscape, I've embarked on a journey to learn full-stack web development. This decision not only reflects my commitment to personal growth but also serves as a strategic move to diversify my employment options. As much as I love being an automotive technician, I've rapidly come to realize the toll it takes on my body. Learning to program is my way of future-proofing my career and finding a balance that allows me to pursue my passion without compromising my well-being.
        </p>
    </div>
