<body>
    <div class="container">
        <div class="header">
            <h1>Project Index</h1>
        </div>
        <br>

        <div class="projects_content">
            <a href="/">
                <div class="project">
                    <h2>liamraithel.com<br>1/19/24</h2>
                    <p>I started making this website as a way to track my progress.</p>
                </div>
            </a>

            <a href="pastebin.html">
                <div class="project">
                    <h2>Local Pastebin<br>1/19/24</h2>
                    <p>Just a simple locally stored personal pastebin as an exercise in javascript localstorage and basic UI design.</p>
                </div>
            </a>

            <a href="/">
                <div class="project">
                  <h2>Blog<br>1/21/24</h2>
                  <p>The 'Home' page of this very website is/will be a personal blog that pulls from a mongoDB and has it's own login portal.</p>
                </div>
            </a>

            <a href="https://lraithel15133.github.io/beltcalculator/">
                <div class="project">
                  <h2>Belt Tension Calculator<br>7/30/24</h2>
                  <p>A Gates 2GT belt tension calculator I made for a friend who is a buisness owner.</p>
                </div>
            </a>
        </div>
</body>
