* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

:root {
    --primary-color: #4891ff;
    --secondary-color: #333;
    --light-color: #f4f4f4;
    --dark-color: #333;
    --danger-color: #ff4a4a;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;  
    background: linear-gradient(to bottom, rgb(255, 255, 255),rgb(255, 255, 255), rgb(179, 179, 179));
    background-attachment: fixed; 

}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.navbar {
    background: #fff;
    padding: 20px;
    width: 100%;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar .container .logo {
    width: 50px;
    height: 50px;
}

.navbar .main-menu ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

#blog-posts > * {
    display: inline;
    padding: 0 30px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    background-color: white;
}

.project:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.project > h2 {
    max-width: 40%;
}

.project > p {
    max-width: 70%;
}